[Desktop Entry]
Categories=System;Utility;
Comment[en_US]=Monitor system performance and manage running applications
Comment=Monitor system performance and manage running applications
Exec=system-monitor
GenericName[en_US]=
GenericName=
Icon=/home/azad/Documents/Projects/khos-System-Monitor/khos-sm-logo.svg
Keywords=system;monitor;performance;process;
MimeType=
Name[en_US]=System Monitor
Name=System Monitor
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
